@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

.link {
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient(white 50%, gold 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.link:hover {
  background-position-y: 100%;
}
